@{
    ViewBag.Title = "Create employee working unit";
}
<div class="container">
    <form action="SaveUnit" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <br>
                    @if (Session["type"].ToString() != "4") 
                    {
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-users fa-2x text-gray">&nbsp;&nbsp;</i>Create Unit</b>
                    {
                        if (ViewBag.bt == "0")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                <input name="oid" placeholder="Dept. Type ID" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                <input name="uname" placeholder="Dept. Type Name" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                <input name="bname" placeholder="Bangla Name" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <center>
                                    <button value="0" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                </center>
                            </div>
                        }
                        else
                        {   @*  Editing Compnay Information*@
                        
                            foreach (System.Data.DataRow US in ViewBag.UnitInfo.Rows)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <input value="@US["oid"]" placeholder="Company ID" class="form-control" type="text" disabled>
                                                    <input name="oid" value="@US["oid"]" type="text" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="uname" value="@US["unit_name"]" placeholder="Company Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                    <input name="bname" value="@US["unit_bnam"]" placeholder="Short Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-modal-window"></i></span>
                                                    <input name="actv" value="@US["unit_actv"]" placeholder="Company Type" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <button value="1" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                    </center>
                                </div>
                            }
                        }
                     }
                    }
                    @*Table for showing compnay information*@
                    @if (ViewBag.Unit != null)
                    {
                        <div class="col-md-11">
                            <div class="card">
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-users fa-2x text-gray">&nbsp;&nbsp;</i>All Unit</b>
                                <table class="table">
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.Unit.Rows)
                                            {

                                                <tr>
                                                    <td class="text-center">@i</td>
                                                    <td colspan="2">@dr["unit_name"]</td>
                                                    <td>@dr["unit_bnam"]</td>

                                                    @if (@dr["unit_actv"].ToString() == "1")
                                                    {
                                                        <td class="text-right text-success">Active</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-right text-danger">Deactivated</td>

                                                    }

                                                    <td class="td-actions text-right">
                                                        @if (Session["type"].ToString() != "4")
                                                        {
                                                            <a href="Unit?bt=1&cpid=@dr["OID"]" class="btn btn-success btn-simple">
                                                                <i class="fa fa-edit"></i>
                                                            </a>   
                                                        }
                                                        @if (Convert.ToInt32(Session["type"]) < 3)
                                                        {
                                                            if (@dr["unit_actv"].ToString() == "1")
                                                            {
                                                                <a href="SaveUnit?bt=3&cpid=@dr["OID"]&actv=@dr["unit_actv"]" onclick="return confirm('Are you sure!! you want to disable this employe?');" class="btn btn-danger btn-simple">
                                                                    <i class="fa fa-close"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="SaveUnit?bt=3&cpid=@dr["OID"]&actv=@dr["unit_actv"]" onclick="return confirm('Are you sure !! you want to enable this employe?');" class="btn btn-success btn-simple">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                    i++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>



</div>

