@{
    ViewBag.Title = "Creating Salary Cycle";
}
<div class="container">
    <form action="SaveSalCycl" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <br>
                    @if (Session["type"].ToString() != "4") 
                    { 
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-dollar fa-2x fa-spin text-info">&nbsp;&nbsp;</i>Create Salary Cycle</b>
                    
                        if (ViewBag.bt == "0")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                                            <input name="oid" placeholder="ID" class="form-control" type="text" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                                            <input name="sname" placeholder="Salary Cycle Name" class="form-control" type="text" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                            <input name="bname" placeholder="Bangla Name" class="form-control" type="text" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                            <input name="days" placeholder="Salary Date" class="form-control" type="text" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                                <label class="label-control">From Date</label>
                                                                            </span>
                                                                            <input name="fdate" class="form-control datepicker" value="" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                                <label class="label-control">To Date</label>
                                                                            </span>
                                                                            <input name="tdate" class="form-control datepicker" value="" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                            <input name="wdays" placeholder="Working Days" class="form-control" type="text" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="col-md-10 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                            <input name="hours" placeholder="Working hours" class="form-control" type="text" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div id="sliderRegular" class="slider" hidden></div>
                                                                    <div id="sliderDouble" class="slider slider-info" hidden></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <center>
                                                                <button value="0" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                                            </center>
                                                        </div>
                                                    }
                                             else
                                            {   @*  Editing Compnay Information*@


                                            foreach (System.Data.DataRow US in ViewBag.AcylInfo.Rows)
                                            {
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                                    <input placeholder="Company ID" class="form-control" type="text" value="@US["oid"]" disabled>
                                                                    <input name="oid" value="@US["oid"]" hidden>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                                    <input name="sname" placeholder="Company Name" class="form-control" value="@US["acyl_name"]" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                    <input name="bname" placeholder="Short Name" class="form-control" value="@US["acyl_bnam"]" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                    <input name="days" placeholder="Salary Date" value="@US["acyl_days"]" class="form-control" type="text" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                        <label class="label-control">From Date</label>
                                                                    </span>
                                                                    <input name="fdate" class="form-control datepicker" value="@String.Format("{0:dd/MM/yyyy}", @US["acyl_fdat"])" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                        <label class="label-control">To Date</label>
                                                                    </span>
                                                                    <input name="tdate" class="form-control datepicker" value="@String.Format("{0:dd/MM/yyyy}", @US["acyl_tdat"])" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                    <input name="wdays" placeholder="Working Days" class="form-control" value="@US["acyl_wday"]" type="text" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-10 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                                    <input name="hours" placeholder="Working hours" class="form-control" value="@US["acyl_hour"]" type="text" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div id="sliderRegular" class="slider" hidden></div>
                                                            <div id="sliderDouble" class="slider slider-info" hidden></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <center>
                                                        <button value="1" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                                    </center>
                                                </div>

                                            }


                                            }
                                        }
                                        @*Table for showing compnay information*@
                                        @if (ViewBag.Holiday != null)
                                        {
                                            <div class="col-md-11">
                                                <div class="card">
                                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-dollar fa-2x fa-spin text-info">&nbsp;&nbsp;</i>All Salary Cycle</b>
                                                    <table class="table">
                                                        <tbody>
                                                            @{
                                            int i = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.Holiday.Rows)
                                            {

                                                <tr>
                                                    <td class="text-center">@i</td>
                                                    <td colspan="2">@dr["acyl_name"]</td>
                                                    <td>@dr["acyl_bnam"]</td>
                                                    <td>@String.Format("{0:dd/MM/yyyy}", @dr["acyl_fdat"])</td>
                                                    <td>@String.Format("{0:dd/MM/yyyy}", @dr["acyl_tdat"])</td>
                                                    <td>@dr["acyl_days"]</td>
                                                    <td>@dr["acyl_wday"]</td>
                                                    <td>@dr["acyl_hour"]</td>

                                                    @if (@dr["acyl_pflg"].ToString() == "1")
                                                    {
                                                        <td class="text-right text-success">Active</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-right text-danger">Deactivated</td>

                                                    }

                                                    <td class="td-actions text-right">
                                                    @if (Session["type"].ToString() != "4") 
                                                    {
                                                    <a href="SalaryCycle?bt=1&cpid=@dr["OID"]" class="btn btn-success btn-simple">
                                                            <i class="fa fa-edit"></i>
                                                    </a>
                                                    }
                                                    @if (Convert.ToInt32(Session["type"]) < 3)
                                                    {
                                                        if (@dr["acyl_pflg"].ToString() == "1")
                                                        {
                                                            <a href="SaveSalCycl?bt=3&cpid=@dr["OID"]&actv=@dr["acyl_pflg"]" onclick="return confirm('Disable  Salary Cycle?');" class="btn btn-danger btn-simple">
                                                                <i class="fa fa-close"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="SaveSalCycl?bt=3&cpid=@dr["OID"]&actv=@dr["acyl_pflg"]" onclick="return confirm('Disable  Salary Cycle??');" class="btn btn-success btn-simple">
                                                                <i class="fa fa-check"></i>
                                                            </a>
                                                        }
                                                    }                                                       
                                                    </td>
                                                </tr>
                                                    i++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            md.initSliders()
            demo.initFormExtendedDatetimepickers();
        });
    </script>
}