@{
    ViewBag.Title = "Leave Status";
}
<div class="container">
    <form action="SaveLeaveStatus" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <br>
                    @if (Session["type"].ToString() != "4")
                    { 
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase fa-2x text-danger">&nbsp;&nbsp;</i>Leave Status</b>
                    
                        if (ViewBag.bt == "0")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                <input name="oid" placeholder="ID" class="form-control" maxlength="5" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-king"></i></span>
                                                <input name="name" placeholder="Leave Status Name" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                <input name="seqn" placeholder="Status Sequence" maxlength="5" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                <input name="sign" placeholder="Status Signeture" maxlength="3" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                <input name="duty" placeholder="Duty" maxlength="3" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <center>
                                    <button value="0" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                </center>
                            </div>
                        }
                        else
                        {   @*  Editing Compnay Information*@


                            foreach (System.Data.DataRow US in ViewBag.LeaveStatusInfo.Rows)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <input name="oid" value="@US["OId"]" placeholder="Yearly Status ID" class="form-control" maxlength="5" type="text" disabled>
                                                    <input name="oid" value="@US["OId"]" type="text" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-king"></i></span>
                                                    <input name="name" value="@US["lsts_name"]" placeholder="Leave Status Name" class="form-control" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="seqn" value="@US["lsts_seqn"]" placeholder="Status Sequence" maxlength="5" class="form-control" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                    <input name="sign" value="@US["lsts_sign"]" placeholder="Status Signeture" maxlength="3" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                    <input name="duty" value="@US["lsts_sign"]" placeholder="Duty" maxlength="3" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <button value="1" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                    </center>
                                </div>
                            }

                        }
                    }
                    @*Table for showing Designation information*@
                    @if (ViewBag.LeaveStatus != null)
                    {
                        <div class="col-md-11">
                            <div class="card">
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase fa-2x text-danger">&nbsp;&nbsp;</i>All Leave Status</b>
                                <table class="table">
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.LeaveStatus.Rows)
                                            {
                                                <tr>
                                                    <td class="text-center">@i</td>
                                                    <td colspan="2">@dr["lsts_name"]</td>
                                                    <td colspan="2">@dr["lsts_seqn"] Day's</td> 
                                                    <td>@dr["lsts_sign"]</td>
                                                    <td>@dr["lsts_duty"]</td>
                                                    <td class="td-actions text-right">
                                                        @if (Session["type"].ToString() != "4")
                                                        {
                                                            <a href="LeaveStatus?bt=1&cpid=@dr["OID"]" class="btn btn-success btn-simple">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                        }                                                      
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>







</div>
