@{
    ViewBag.Title = "Create Leave Type";
}
<div class="container">
    <form action="SaveLeaveType" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <br>
                    @if (Session["type"].ToString() != "4")
                    {
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase fa-2x text-danger">&nbsp;&nbsp;</i>Leave Type</b>
                   
                        if (ViewBag.bt == "0")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                <input name="oid" placeholder="Leave Type ID" class="form-control" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-king"></i></span>
                                                <input name="lname" placeholder="Leave Type" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                <input name="dflv" maxlength="3" placeholder="lvtp_dflv" class="form-control" type="number" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                <input name="eflg" maxlength="1" placeholder="lvtp_eflg" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <center>
                                    <button value="0" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                </center>
                            </div>
                        }
                        else
                        {   @*  Editing Compnay Information*@


                            foreach (System.Data.DataRow US in ViewBag.LeaveTypeInfo.Rows)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <input value="@US["oid"]" placeholder="Company ID" class="form-control" type="text" disabled>
                                                    <input name="oid" value="@US["oid"]" type="text" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="lname" value="@US["lvtp_name"]" placeholder="Company Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="dflv" value="@US["lvtp_dflv"]" maxlength="3" placeholder="Company Name" class="form-control" type="number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                    <input name="eflg" value="@US["lvtp_eflg"]" maxlength="1" placeholder="Short Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <button value="1" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                    </center>
                                </div>

                            }


                        }
                    }
                    @*Table for showing Designation information*@
                    @if (ViewBag.LeaveType != null)
                    {
                        <div class="col-md-11">
                            <div class="card">
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-briefcase fa-2x text-danger">&nbsp;&nbsp;</i>All leave type</b>
                                <table class="table">
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.LeaveType.Rows)
                                            {
                                                <tr>
                                                    <td class="text-center">@i</td>
                                                    <td colspan="2">@dr["lvtp_name"]</td>
                                                    <td colspan="2">@dr["lvtp_dflv"]</td>
                                                    <td>@dr["lvtp_eflg"]</td>

                                                    @if (@dr["lvtp_actv"].ToString() == "1")
                                                    {
                                                        <td class="text-right text-success">Active</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-right text-danger">Deactivated</td>

                                                    }

                                                    <td class="td-actions text-right">
                                                        @if (Session["type"].ToString() != "4") 
                                                        {
                                                              <a href="LeaveType?bt=1&cpid=@dr["OID"]" class="btn btn-success btn-simple">
                                                                    <i class="fa fa-pencil"></i>
                                                              </a>
                                                        }
                                                        @if (Convert.ToInt32(Session["type"]) < 3)
                                                        {
                                                            if (@dr["lvtp_actv"].ToString() == "1")
                                                            {
                                                                <a href="SaveLeaveType?bt=3&cpid=@dr["OID"]&actv=@dr["lvtp_actv"]" onclick="return confirm(' Disable  Leave Type?');" class="btn btn-danger btn-simple">
                                                                    <i class="fa fa-close"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="SaveLeaveType?bt=3&cpid=@dr["OID"]&actv=@dr["lvtp_actv"]" onclick="return confirm('Enable Leave Type?');" class="btn btn-success btn-simple">
                                                                    <i class="fa fa-check"></i>
                                                                </a>
                                                            }
                                                        }                                                      
                                                    </td>
                                                </tr>
                                                        i++;
                                            }
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>



</div>

