@{
    ViewBag.Title = "Create SIM Number";
}
<div class="container">
    <form action="SaveSim" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone-square fa-3x text-success">&nbsp;&nbsp;</i>New SIM Number</b>
                    @{
                        if (ViewBag.bt == "0")
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                <input name="oid" placeholder="Sim ID" class="form-control" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
                                                <input name="oname" placeholder="Operetor Name" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                                                <input name="snmbr" placeholder="Sim Number" maxlength="11" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                                <input name="limit" placeholder="Credit Limit" maxlength="5" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <center>
                                    <button value="0" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                </center>
                            </div>
                        }
                        else
                        {   @*  Editing Compnay Information*@


                            foreach (System.Data.DataRow US in ViewBag.SimInfo.Rows)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <input value="@US["oid"]" placeholder="Company ID" class="form-control" type="text" disabled>
                                                    <input name="oid" value="@US["oid"]" type="text" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="oname" value="@US["esim_onam"]" placeholder="Company Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                    <input name="snmbr" value="@US["esim_nmbr"]" placeholder="Company Name" maxlength="11" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
                                                    <input name="limit" value="@US["esim_limit"]" placeholder="Short Name" maxlength="5" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-10 inputGroupContainer">
                                                <div class="input-group">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <center>
                                        <button value="1" name="bt" type="submit" class="btn bt- btn-info">Save Information <span class="glyphicon glyphicon-store"></span></button>
                                    </center>
                                </div>

                            }
                        }
                    }
                </div>
            </div>
        </div>
    </form>



</div>
